/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2014, 9:41:03 AM
    Author     : Alex Pavlunenko <alexp at xpresstek.net>
*/

.zcalendar .fc-event-time{
    padding: 3px;
    font-size: 1.4em;
}

.zcalendar .fc-event-vert .fc-event-time{
    padding: 3px;
    font-size: 1.4em;
}

.zcalendar .fc-event-title{
    padding: 3px;
    font-size: 1.4em;
}

.eventPast
{
    background-color: #8e8989 !important;
}

.eventPaid
{
    background-color: #1d8f37 !important;
}

.eventUnpaid
{
    background-color: #b04b33 !important;
}

.eventOverpaid
{
    background-color: #b51ca7 !important;
}

.eventPartiallyPaid
{
    background-color: #b2b448 !important;
}